<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Webigma</title>
    <script src="http://fb.me/react-with-addons-0.11.0.js"></script>
    <script src="http://fb.me/JSXTransformer-0.11.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="/static/base.css" rel="stylesheet">
  </head>
  <body>
    <div id="app"></div>
    <script type="text/jsx">
        /** @jsx React.DOM */
        var path = window.location.pathname.slice(1),
        	settings = {
            	api_url: '/api/'
        	};

        var Webigma = React.createClass({
        	getInitialState: function() {
        		console.log(this.props.settings);

        		return {
        			state: 'init'
        		}
        	},
        	componentDidMount: function() {
        		if(this.props.path) this.get(path);
        	},
        	get: function(data) {
        		this.setState({state: 'sending'});

				$.ajax({
        			url: this.props.settings.api_url + data,
        			method: 'get',
					success: function(data) {
                        this.setState({state: 'init'});
                        this.ref.secret.getDOMNode().value = data;
                        console.log('success', this.state.data);
                    }.bind(this),
                    error: function(xhr, status, err) {
                        this.setState({state: 'init'});
                        console.error('error', status, err.toString());
                    }.bind(this)
        		})
        	},
        	post: function(data) {
        		console.log('posting', data);
        		this.setState({state: 'sending'});

				$.ajax({
        			url: this.props.settings.api_url,
        			data: data,
        			dataType: 'json',
        			method: 'post',
					success: function(data) {
                        this.setState({state: 'init'});
                        this.ref.secret.getDOMNode().value = data.link;
                        console.log('success', this.state.data);
                    }.bind(this),
                    error: function(xhr, status, err) {
                        this.setState({state: 'init'});
                        console.error('error', status, err.toString());
                    }.bind(this)
        		})
        	},
            handleSubmit: function(e) {
            	this.post({
            		content: this.refs.secret.getDOMNode().value,
            		expire: this.refs.expire.getDOMNode().value,
            		num: this.refs.number.getDOMNode().value,
            		callback: this.refs.callback.getDOMNode().value
        		});

            	return false;
            },
            render: function(){
            	var container_classes = 'b-webigma';
            	var button_is_disabled = false;
            	if(this.state.state == 'sending') {
            		container_classes = container_classes + ' b-webigma_state_sending';
            		button_is_disabled = true;
            	}

                return (
                    <div className={container_classes}>
                        <h1 className="b-webigma__heading">All hail the Huigma</h1>
                        <form method="post" action={this.props.settings.api_url}>
	                        <textarea className="b-webigma__text" ref="secret" spellCheck="false" />
	                        <input className="b-webigma__text-input" type="text" ref="expire" placeholder="expire, sec" />
	                        <input className="b-webigma__text-input" type="text" ref="number" placeholder="number, num" />
	                        <input className="b-webigma__text-input" type="text" ref="callback" placeholder="callback, url" />
	                        <button onClick={this.handleSubmit} className="b-webigma__submit" disabled={button_is_disabled}>
	                        	<i className="fa fa-lock"></i>
                        	</button>
                        </form>

                        <div className="b-webigma__copyright">
                        	© <a href="https://github.com/miller-hacks">miller-hacks</a>, 2014
                        </div>
                    </div>
                )
            }
        });


        React.renderComponent(
            <Webigma settings={settings} path={path} />,
            document.getElementById('app')
        );
    </script>
  </body>
</html>