/* Huigma css */
#app {
	width: 960px;
	height: 100%;

	margin: 0 auto;

	color: #CCC;
}

a, a:visited {
	color: #CCC;
	text-decoration: none;
	border-bottom: 1px dotted #CCC;
}

a:hover {
	color: #BBB;
	border-bottom: 1px dotted #BBB;
}

/* Webigma */
.b-webigma {
	width: 100%;
	height: 100%;
	text-align: right;
}

.b-webigma__heading {
	font-size: 300%;
	text-transform: uppercase;
	text-align: center;
}

.b-webigma__text {
	padding: 20px;
	color: #CCC;

	font-family: Verdana, monospace, courier, 'Courier New';
	font-size: 150%;
	letter-spacing: 0.05em;

	width: 100%;
	height: 300px;

	border: 2px dotted #CCC;
	border-radius: 10px;

	transition: all 0.2s ease;
}

.b-webigma__text-input {
	padding: 20px;
	margin-right: 4px; 
	color: #CCC;

	font-family: Verdana, monospace, courier, 'Courier New';
	font-size: 150%;
	letter-spacing: 0.05em;

	width: 33%;

	border: 2px dotted #CCC;
	border-radius: 10px;

	transition: all 0.2s ease;
}

.b-webigma__text-input:last-of-type {
	margin-right: 0;
}

.b-webigma_state_sending .b-webigma__text {
	background: #CCC;

	transition: all 0.2s ease;
}

.b-webigma__text:focus,
.b-webigma__text-input:focus {
    outline: 0;
}

.b-webigma__submit {
	cursor: pointer;

	margin-top: 10px;
	padding: 10px 100px;
	
	display:inline-block;
	clear: both;
	
	line-height: 100%;
	font-size: 200%;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	color: #fff;

	border-radius: 3px;

	transition: background 0.1s ease-in-out;
}

.b-webigma__submit:active {
	padding-top: 15px;
    margin-bottom: -1px;
}

.b-webigma__submit, .b-webigma__submit:hover, .b-webigma__submit:active {
	outline: 0 none;
	text-decoration: none;
	color: #fff;
}

.b-webigma__message-wrapper {
	display: none;
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.5);
	color: #FFF;
	font-size: 500%;

	vertical-align: middle;
	text-align: center;
	line-height: 100%;
}

.b-webigma__message {
	margin: auto;
	left:0; right:0;
	top:0; bottom:0;
	position: absolute;
	width: 200px;
	height: 200px;
	border: #000 solid 1px;
	background: #82713F;
	text-align: center;
}

.b-webigma__copyright {
	position: fixed;
	bottom: 10px;
	right: 10px;
}

/** Overlay **/
.b-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(30,30,30,0.9);
    color: #FFF;
}

.b-overlay_scale {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.b-overlay_scale_open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);    
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}

/* Overlay closing cross */
.b-overlay__close {
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    /*background: url(../img/cross.png) no-repeat center center;*/
    background: none;
    /*text-indent: 200%;*/
    /*color: transparent;*/
    outline: none;
    z-index: 100;
    cursor: pointer;
    color: #FFF;

    font-size: 200%;
}

.b-overlay__content {
    position: absolute;

    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: left;
    
    margin: 0;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: auto;
    padding: 10%;

    /*width: 80%;
    height: 80%;*/

    font-size: 200%;

}